<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{asset("homePage/homePage.css")}}">
    </head>
    <body>
        <main>
            <p class="test">Texto teste</p>
            <input id="textUser" type="text" placeholder="mude o texto acima">
            <button onclick="clickButton()" id="mudar">Mudar</button>
        </main>
    </body>
    <script src="{{asset("homePage/homePage.js")}}"></script>
</html>